<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <section>
    <div class="about">
      <h1>Twitterへようこそ</h1>
      <h3>「いま」起きていることを見つけよう。</h3>
      <h2>Twitterのミッションは、言語や文化などの障壁をなくして、思いついたアイデアや見つけた情報を一瞬にして共有する力をすべての人に提供することです。</h2>
      <br>
      <h3>Twitterの利用状況 / 企業情報</h3>
      <br>
      <h4>313M</h4>
      <p>月間アクティブアカウント</p>
      <h4>10億件</h4>
      <p>埋め込みツイート付きサイトへの月間訪問数</p>
      <h4>82%</h4>
      <p>モバイル利用のTwitterアクティブアカウントの割合</p>
      <h4>3860</h4>
      <p>世界中の従業員</p>
      <h4>35+</h4>
      <p>世界のオフィス数</p>
      <h4>79%</h4>
      <p>米国以外の国のアカウントの割合</p>
      <h4>40+</h4>
      <p>アポートされている言語数</p>
      <h4>40%</h4>
      <p>従業員の中のエンジニアの割合</p>
    </div>
    <div class="main-header">
      <p>オフィス</p>
      <p>本社</p>
      <p>1355 Market Street</p>
      <p>Suite 900</p>
      <p>San Francisco, CA 94103</p>
      <p>USA</p>
      <br>
      <p>Senior Management</p>
      <p>CEO / Jack Dorsey</p>
      <p>COO&CFO / Anhtony Nato</p>
      <p>advisor / Vijaya Gadde</p>
      <p>CMO / Leslie Berland</p>
      <p>CAO / Robert Kaiden</p>
        <div id="page-top-btn" class="page-top-btn">
          <p><a class="move-page-top" id="move-page-top">▲</a></p>
        </div>
    </div>
  </section>
</body>
</html>