header {
  width: 100%;
  background-color: #3399FF;
  height: 54px;
}

.navbar-default {
    border: 0;
}
.navbar {
    background-color: transparent;
    color: black;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: black;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: black;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: black;
    &:hover, &:focus {
      background-color: transparent;
      color: black;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: black;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}


.main-header {
  padding: 5% 0;
  width: 100%;
  color: white;
  background-size: cover;
  background-image: url("italy.jpg");
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15%;
}

.about {
  background-color: white;
  color: #333;
  padding: 80px;
}

footer {
  width: 100%;
  background-color: #3399FF;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  font-size: 12px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.page-top-btn {
  display: none;
  border-radius: 50px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
  &:hover {
  opacity: 0.7;
  }
}